{% extends 'base.html' %}
{% block content %}
    <main class="main-content">
        <div class="card">
            <div class="card-header">
                <h4>Add About</h4>
            </div>
            <div class="card-body">
                <form class="form-inline" style="align-items: center;" action="{% url 'add-about' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" class="col-2 form-control mb-2 mr-sm-2" name="title" placeholder="Title" required>
                    <div class="col-2 input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control" name="text" placeholder="Text" required>
                    </div>
                    <div class="custom-file col-2" style="margin-bottom: 5px; margin-top: -3px;">
                        <label class="custom-file-label" for="customFile"><span style="margin-right: 162px; margin-top: 3px;">Choose file</span></label>
                        <input type="file" style="padding: 20px 0px 20px 0px;right: 20px; width:200px" class="custom-file-input form-control" name="image" id="customFile" required>
                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 7px; margin-left: 25px; padding: 8px 20px;" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>About</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered" style="text-align:center">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Text</th>
                            <th scope="col">Change</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in about %}
                            <tr>
                                <td><img src="{{ i.image.url }}" class="rounded circle" style="width: 60px; height:60px"></td>
                                <td>{{ i.title }}</td>
                                <td>{{ i.text }}</td>
                                <td class="d-none d-md-table-cell"><a href="{% url 'update-about' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                                <td class="table-action"><a href="{% url 'delete-about' i.id %}"><i class="align-middle" data-feather="trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}