{% extends 'base.html' %}
{% block content %}
    <main class="content">
        <div class="container-fluid p-0">
            <form action="{% url 'add-advertiser' %}" method="post" style="margin-bottom: 20px; display:flex; justify-content: center" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="custom-file col-2" style="margin-bottom: 5px; margin-top: -3px;">
                        <label class="custom-file-label" for="customFile"><span style="margin-right: 98px">Choose file</span></label>
                        <input type="file" style="padding:20px 0;width:195px;right: 16px;" class="custom-file-input form-control" name="logo" id="customFile" required>
                    </div>
                    <div class="col-2 input-group mb-2 mr-sm-2">
                        <input type="url" class="form-control" name="url" placeholder="Url" required>
                    </div>
                    <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Url</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in advertiser %}
                                <tr>
                                    <td><img src="{{ i.logo.url }}" class="rounded-circle" style="width: 50px; height: 50px"></td>
                                    <td>{{ i.url }}</td>
                                    <td class="d-none d-md-table-cell"><a href="{% url 'update-advertiser' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                                    <td>
                                        <a href="{% url 'delete-advertiser' i.id %}"><button type="submit" data-toggle="modal" data-target="#sizedModalMd" data-feather="trash">Delete</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}