{% extends 'base.html' %}
{% block content %}
    <main class="main-content">
        <div class="container-fluid p-0">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'add-advertiser' %}" method="post" style="margin-bottom: 20px; display:flex; justify-content: center" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="custom-file col-4 mt-4">
                                <label class="custom-file-label" for="customFile"><span>Choose file</span></label>
                                <input type="file"  class="custom-file-input form-control" name="logo" id="customFile" required>
                            </div>
                            <div class="col-2 input-group mt-4  mr-sm-2">
                                <input type="text" class="form-control" name="url" placeholder="Url" required>
                            </div>
                            <button class="btn btn-primary" style="margin-top: 26px; width: 70px; height: 40px;" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Url</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in advertiser %}
                                <tr>
                                    <td><img src="{{ i.logo.url }}" class="rounded-circle" style="width: 50px; height: 50px"></td>
                                    <td>{{ i.url }}</td>
                                    <td class="d-none d-md-table-cell"><a href="{% url 'update-advertiser' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                                    <td>
                                        <a href="{% url 'delete-advertiser' i.id %}"><button type="submit" data-toggle="modal" data-target="#sizedModalMd" data-feather="trash">Delete</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}