{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Andijon-FC - Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' style="width: 16px; height: 40px;" href='{% static "assets/favicon.ico"  %}'/>
</head>
<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a></li>
                        <li><a href="#" class="nav-link nav-link-lg fullscreen-btn"><i data-feather="maximize"></i></a></li>
                        <li>
                            <form class="form-inline mr-auto">
                                <div class="search-element">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{% static 'assets/img/user.png' %}" class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello Sarah Smith</div>
                            <a href="profile.html" class="dropdown-item has-icon"><i class="far fa-user"></i>Profile</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html"> <img alt="image" src="{% static 'assets/favicon.ico' %}" class="header-logo"/>
                            <span class="logo-name">FC Andijon</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Main</li>
                        <li class="dropdown active">
                            <a href="{% url 'dashboard' %}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Models</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="portfolio.html">Staff</a></li>
                                <li><a class="nav-link" href="blog.html">Players</a></li>
                                <li><a class="nav-link" href="calendar.html">Andijon</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Club</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Advertisers</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">News</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Videos</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Info</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Preview</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Squad</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Line</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Substitute</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Game</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Product</a></li>
                                <li><a class="nav-link" href="{% url 'about' %}">Region</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <footer class="main-footer">
        <div class="footer-left">
            <a href="templateshub.net">Templateshub</a></a>
        </div>
        <div class="footer-right"></div>
    </footer>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/js/page/index.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>