{% extends 'base.html' %}
{% block content %}

        <main class="main-content">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'add-club' %}" method="post" style="display:flex; justify-content: center" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                                    <input type="text" name="name" placeholder="Name" class="form-control" required>
                                </div>
                                <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                                    <input type="text" name="trainer" placeholder="Trainer" class="form-control" required>
                                </div>
                                <div class="custom-file col-4 mt-2">
                                    <label class="custom-file-label" for="customFile"><span>Choose file</span></label>
                                    <input type="file" class="custom-file-input form-control" name="logo" id="customFile" required>
                                </div>
                                <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card">
                        <table class="table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Coach</th>
                                    <th>Logo</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in club %}
                                    <tr>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.trainer }}</td>
                                        <td><img src="{{ i.logo.url }}" class="rounded-circle" style="width: 50px; height: 50px"></td>
                                        <td class="d-none d-md-table-cell"><a href="{% url 'update-club' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                                        <td>
    										<a href="{% url 'delete-club' i.id %}"><button type="submit" data-toggle="modal" data-target="#sizedModalMd" data-feather="trash">Delete</button></a>
										</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>

{% endblock %}