get-image.html{% extends 'base.html' %}
{% block content %}

        <main class="main-content">
            <div class="card">
            <div class="card-header">
                <h4>PLayers</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered" style="text-align:center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Sur-Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Position</th>
                            <th scope="col">Image</th>
                            <th scope="col">Captain</th>
                            <th scope="col">Sub-Captain</th>
                            <th scope="col">Birth-Date</th>
                            <th scope="col">Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in player %}
                            <tr>
                                <td>{{ i.first_name }}</td>
                                <td>{{ i.last_name }}</td>
                                <td>{{ i.number }}</td>
                                <td>{{ i.get_position_display }}</td>
                                <td><img src="{{ i.image.url }}" class="rounded-circle"></td>
                                {% if i.captain == True %}
                                    <td><i class="material-icons">copyright</i></td>
                                {% else %}
                                    <td><i class="material-icons">directions_run</i></td>
                                {% endif %}
                                {% if i.sub_captain == True %}
                                    <td><i class="material-icons">copyright</i></td>
                                {% else %}
                                    <td><i class="material-icons">person</i></td>
                                {% endif %}
                                <td>{{ i.birth }}</td>
                                <td class="d-none d-md-table-cell"><a href="{% url 'update-player' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </main>

{% endblock %}