{% extends 'base.html' %}
{% block content %}

        <main class="content">
            <div class="container-fluid p-0">
                <form action="{% url 'add-subs' %}" method="post" style="margin-bottom: 20px; display:flex; justify-content: center" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-2 form-group mt-2">
                            <select class="form-control select2" name="squad">
                                {% for i in squad %}
                                    <option value="{{ i.id }}">{{ i.team.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 form-group mt-2">
                            <select class="form-control select2" name="line">
                                {% for i in line %}
                                    <option value="{{ i.id }}">{{ i.team.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <input type="number" name="minute" placeholder="Minute" class="form-control" required>
                        </div>
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                </form>
            </div>
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card">
                        <table class="table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Sub ON</th>
                                    <th>Sub OFF</th>
                                    <th>Minute</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in subs %}
                                    <tr>
                                        <td>{{ i.squad.team.first_name }}</td>
                                        <td>{{ i.line.team.first_name }}</td>
                                        <td>{{ i.minute }}</td>
                                        <td class="d-none d-md-table-cell"><a href="{% url 'update-subs' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                                        <td>
    										<a href="{% url 'delete-subs' i.id %}"><button type="submit" data-toggle="modal" data-target="#sizedModalMd" data-feather="trash">Delete</button></a>
										</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>

{% endblock %}