{% extends 'base.html' %}
{% block content %}

    <main class="main-content">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'update-club' club.id %}" method="post" style="display:flex; justify-content: center" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <input type="text" value="{{ club.name }}" name="name" placeholder="Name" class="form-control" required>
                        </div>
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <input type="text" value="{{ club.trainer }}" name="trainer" placeholder="Trainer" class="form-control" required>
                        </div>
                        <div class="custom-file col-4 mt-2">
                            <label class="custom-file-label" for="customFile"><span>Choose file</span></label>
                            <input type="file"  class="custom-file-input form-control" name="logo" id="customFile">
                        </div>
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}