{% extends 'base.html' %}
{% block content %}

        <main class="main-content">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'add-video' %}" method="post" style="display:flex; justify-content: center" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="custom-file col-4 mt-4 mb-2">
                                    <label class="custom-file-label" for="customFile"><span>Choose file</span></label>
                                    <input type="file"  class="custom-file-input form-control" name="video" id="customFile" required>
                                </div>
                                <div class="col col-sm-2 col-xl mt-4 mb-2 d-flex">
                                    <input type="text" name="bio" placeholder="description" class="form-control" required>
                                </div>
                                <label class="custom-switch mt-4 mb-2">
                                    <input type="checkbox" name="is_top" value="True" class="custom-switch-input">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                                <button class="btn btn-primary" style="margin-top: 28px; width: 70px; height: 40px; margin-left: 35px;" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card">
                        <table class="table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Video</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>Is-top</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in video %}
                                    <tr>
                                        <td><video style="width: 150px; height: 150px" controls><source src="{{ i.video.url }}" type="video/mp4">smth</video></td>
                                        <td>{{ i.description }}</td>
                                        <td>{{ i.date }}</td>
                                        <td>{{ i.is_top }}</td>
                                        <td class="d-none d-md-table-cell"><a href="{% url 'update-video' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                                        <td>
    										<a href="{% url 'delete-video' i.id %}"><button type="submit" data-toggle="modal" data-target="#sizedModalMd" data-feather="trash">Delete</button></a>
										</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>

{% endblock %}